.dropdown-menu {
    width: 11.5%;
    position: absolute;
    top: 65px;
    list-style: none;
    text-align: start;
    max-width: 90px;
}

.dropdown-menu li {
    background: #000;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #DA251C;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 11.5px;
    padding: 0.3rem 0.1rem 0.2rem 0.4rem;
}