
.navbar {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: sticky; */
  top: 0;
  z-index: 999;
  padding: 1rem auto;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap:0;
  height: 60px;
  width: 88%;
  max-width: 1500px;
  padding: 0 1rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(7,auto);
  list-style: none;
  text-align: center;
  max-width: 70vw;
  border-radius: 0.3rem;
  background-color: #210700;
}

.nav-item {
  height: 30px;
  padding-bottom: 0;
  
}

.nav-links {
  color: #fff;
  text-decoration: none;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.7rem;
  font-size: 13px;
  font-family: Montserrat;
  font-weight: 500;
  height: 40px;
  line-height: 20.8px;
  letter-spacing: 1px;
}

.navbar-container .lang {
  margin-right: 0;
  padding-right: 0;
}

.lang a{
  color: #666;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6.5rem;
  font-family: Montserrat;
  
}

.flag {
  width: 1.5rem
}

.lang-down {
  width: 0.7rem;
}

.menu-icon,
.close-icon {
  display: none;
}

.nav-links:hover {
  border-top: 1px solid #DA251C;
  color: #DA251C;
}

.nav-menu.active {
  display: none;
}

@media screen and (max-width: 1122px) {
  .nav-links {
    font-size: 8px;  
  }
}

@media screen and (max-width: 765px) {
  .navbar {
    display: none;
  }
  
  
  .navbar-container {
    justify-content: space-evenly;
    padding-right: 0;
  }
  
  .nav-item{
    width: 90%;
    height: auto;
    margin: 0;
  }
  
  .nav-links {
    width: 100%;
    height: auto;
    font-size: 11.5px;
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
  }
}
