:root {
    --total-partners: 40;
    --logo-width: 11rem;
    --total-partners-width: calc(var(var(--total-partners)) * var(var(--logo-width) * 2));
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding-bottom: 6rem;
    padding-top: 1rem;
}

.my-slider {
    /* border: 1px solid black; */
    width: 90vw;
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    /* border: 1px sold red; */
    height: 5.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slider:hover .brands{
    animation-play-state: paused;
    cursor: pointer;
}

.brands {
    /* border: 4px solid green; */
    display: flex;
    width: var(--total-partners-width);
    align-items: center;
    gap: 50px;
    animation: slideLeft 150s linear infinite;

}

.carousel_img {
    /* border: 2px solid green; */
    width: 11rem;
}

@media (min-width: 1200px) {
    .my-slider,
    .sub_h2 {
        width: 73.5vw;
    }

    .slider {
        width: 73.5vw;
    }
}